<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
        <section id="header">
            <%- include('_header') %>
        </section>
        
        <section id="layout-main">
            <%- body %>
        </section>
        
        <section id="footer">
            <%- include('_footer') %>
        </section>

        <%- script %>
    </body>
</html>